@charset 'UTF-8';
//@import "bourbon";
@import "base/typography";
@import "utils/variables";
@import "utils/media";
@import "utils/mixins";

@import "base/reset";
@import "base/global";

@import "components/loader";
@import "components/video";
@import "components/hamburguer";
@import "components/navbar";
@import "components/footer";
@import "components/parallelogram";
@import "components/octagon";
@import "components/input";
@import "components/fighter-card";

.videoModalBtn {
  display: block;
  &:hover {
    box-shadow: 0 0 60px 0.25rem rgba($light-red, 0.8) !important;
  }
}

.move-list--icon-link {
  display: block;
  padding-bottom: 4px;
  position: relative;
  img {
    padding-bottom: 5px ;
    
  }
  &::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: none;
    position: relative;
    left: 12px;
  }
  &:hover {
    &::after {
      content: '';
      background: $light-red;
    }
  }
}

.logo--svg {
  fill: $white;
  &:hover {
    fill: $light-red;
  }
}