.fighter-card {
  // border: 1px solid $light-blue;
  overflow: visible;
  max-width: 50%;
  @include MQ(L) {
    max-width: 33%;
    left: -40px;
  }
  @include MQ(XL) {
    max-width: 25%;
    left: -40px;
  }

  &--img {
    width: 100%;
    @include MQ(XL) {
      object-fit:cover;
      object-position: center; 
      height:400px;
      width: auto;
    }
    &-on {
      position: absolute;
      opacity: 0;
      transition: .2s ease-in-out all;
    }
  }
  &:hover {
    .fighter-card--img-on {
      opacity: 1;
    }
  }
}

.single .fighter-card {
  @include MQ(L) {
    max-width: 30%;
    left: 0;
  }
}