.fighter-card {
  // border: 1px solid $light-blue;
  overflow: visible;
  @include MQ(L) {
    max-width: 25%;
  }

  &--img {
    object-fit:cover;
    object-position: center; 
    height:400px;
    &-on {
      position: absolute;
      opacity: 0;
      transition: .2s ease-in-out all;
    }
  }
  &:hover {
    .fighter-card--img-on {
      opacity: 1;
    }
  }
}