.parallel--text-area{
  background: $black !important;
  border-radius: 0 !important;
  color: $white !important;
  &::placeholder {
    color: $white !important;
  }
  &:focus {
    border-color: $white !important;
    outline: 0;
    box-shadow: 0 0 60px 0.25rem rgba($light-red, 0.8) !important;
  }
}
.parallel--input {
  background: $black !important;
  border-radius: 0 !important;
  color: $white !important;
  height: 40px;
  &::placeholder {
    color: $white !important;
  }
  &:focus {
    border-color: $white !important;
    outline: 0;
    box-shadow: 0 0 60px 0.25rem rgba($light-red, 0.8) !important;
  }
  @include MQ(L) {
    min-width: 300px;
  }
}
.parallel--label {
  position: relative;
  &::after, &::before {
    display: block;
    position: absolute;
    top: 0;
  }
  &::before {
    content: url('../img/box-left.svg');
    left: -15px;
    z-index: 1;
    height: 30px;
    width: 16.5px;
  }
  &::after {
    content: url('../img/box-right.svg');
    right: -15px;
    z-index: 1;
    height: 30px;
    width: 16px;
  }
}

%form-out {
  padding: 1px 2px;
  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );
}

%form-in {
  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );

}

%variant-in {
  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );
  @include MQ(L) {
    height: 34px;
  }
}
%variant-out {
  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );

}

.form-octagon {
  background: none;
  outline: none;
  border: none;
  color: $white;
  text-transform: uppercase;
  @include MQ(XL) {
    min-width:300px;
  }
  
  &--outer {
    @extend %form-out;
    background-color: $white;
    min-width: 100%;
  }
  
  &--inner {
    @extend %form-in;
    padding-left: 25px;
    padding-right: 25px;
    background-color: $black;
    color: white;
    &::placeholder {
      color: $white !important;
    }
  }

  &--outer-variant {
    @extend %variant-out;
    background-color: $white;
    min-width: 100%;
    padding: 1px 2px
  }
  
  &--inner-variant {
    @extend %variant-in;
    background-color: $black;
    color: white;
    padding-left: 25px;
    &::placeholder {
      color: $white !important;
    }
    &:focus {
      background: $black;
      color: $white !important;
    }
  }

}