

%out {
  padding: 2px 3px;

  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );
  transition: .2s ease-in-out all;
}

%in {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 38px;

  clip-path: polygon(
    /* top left */
    15px 0,
    /* top right */
    calc(100% - 5px) 0,
    100% 8px,
    /* bottom right */
    calc(100% - 15px) 100%,
    /* bottom left */
    5px 100%,
    0 75%
  );

  @include MQ(L) {
    height: 34px;
    min-width: 170px;
  }
}



.octagon {
  background: none;
  outline: none;
  border: none;
  color: $white;
  text-transform: uppercase;
  &:hover {
    .octagon--outer {
      background-color: rgba($light-red, 1);
    }
    .octagon--inner {
      color: $light-red;
      background-color: $dark-red;
    }
    .octagon--outer-variant {
      background-color: rgba($light-purple, 1);
    }
    .octagon--inner-variant {
      background-color: darken($light-purple, 5%);
    }
  }

  &--outer {
    @extend %out;
    background-color: $light-blue;
  }
  
  &--inner {
    @extend %in;
    font-weight: 700;
    font-style: italic;
    background-color: $dark-blue;
  }
  
  &--outer-variant {
    @extend %out;
    background-color: $light-purple;
    min-width: 170px
  }
  
  &--inner-variant {
    @extend %in;
    background-color: $light-purple;
  }

}