%parallel-out {
  padding: 2px;
  clip-path: polygon(0% 20px,
  /* top left */
  15px 0%,
  /* top left */
  100% 0%,
  /* top right */
  100% 0%,
  /* top right */
  100% calc(100% - 20px),
  /* bottom right */
  calc(100% - 15px) 100%,
  /* bottom right */
  0% 100%,
  /* bottom left */
  0% 100%
  /* bottom left */
  );
  transition: .2s ease-in-out all;
  height: 100%;
}

%parallel-in {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 20px,
  /* top left */
  15px 0%,
  /* top left */
  100% 0%,
  /* top right */
  100% 0%,
  /* top right */
  100% calc(100% - 20px),
  /* bottom right */
  calc(100% - 15px) 100%,
  /* bottom right */
  0% 100%,
  /* bottom left */
  0% 100%
  /* bottom left */
  );
  height: 100%;
}



.parallelogram {
  background: none;
  outline: none;
  border: none;
  color: $white;
  position: relative;
  text-align: left;
  height: 100%;

  &--title {
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid $light-red;
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  &:hover {
    .parallelogram--outer {
      background-color: rgba($light-red, 1);
    }
    .parallelogram--inner {
      color: $light-red;
      background-color: $dark-red;
    }
    .parallelogram--outer-variant {
      background-color: rgba($light-purple, 1);
    }
    .parallelogram--inner-variant {
      background-color: $light-purple;
      font-weight: 900;
    }
  }

  &--outer {
    @extend %parallel-out;
    background-color: $light-blue;
  }
  
  &--inner {
    @extend %parallel-in;
    background-color: $dark-blue;
    padding: 30px;
  }
  
  &--outer-variant {
    @extend %parallel-out;
    background-color: $light-purple;
  }
  
  &--inner-variant {
    @extend %parallel-in;
    background-color: $light-purple;
    padding: 30px;
  }

  &--text-open {
    height: auto;
  }
  
  &--text-close {
    overflow: hidden;
    height: 0;
  }

  &--active {
    .parallelogram--outer {
      background-color: rgba($light-red, 1);
    }
  }

}