
.video-overlay {
  position: absolute;
  padding-top: 50px;
  z-index: 2;
  @include MQ(M){
    padding-top: auto;
    @include center(xy);
    bottom: 15%;
  }
  &--content-img {
    max-width:300px;
    margin:0 auto;
    @include MQ(M){
      max-width:350px;
    }
  }
  // &--layer {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background: rgba($black, $alpha: .5);
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  // }
}