@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,400;0,600;1,700;1,900&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Saira", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #FD3A4C;
}
a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong, .font-bold {
  font-weight: 600;
}

.content-wrapper {
  min-height: calc(100vh - 460px);
}

.bg-light-red {
  background-color: #FD3A4C !important;
}

.text-light-red {
  color: #FD3A4C !important;
}

.bg-dark-red {
  background-color: #532136 !important;
}

.text-dark-red {
  color: #532136 !important;
}

.bg-light-blue {
  background-color: #666594 !important;
}

.text-light-blue {
  color: #666594 !important;
}

.bg-medium-blue {
  background-color: #5E5E74 !important;
}

.text-medium-blue {
  color: #5E5E74 !important;
}

.bg-dark-blue {
  background-color: #131322 !important;
}

.text-dark-blue {
  color: #131322 !important;
}

.bg-light-green {
  background-color: #3AFDDA !important;
}

.text-light-green {
  color: #3AFDDA !important;
}

.bg-light-purple {
  background-color: #5865F2 !important;
}

.text-light-purple {
  color: #5865F2 !important;
}

.bg-primary-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#131322), to(#3AFDDA));
  background: linear-gradient(90deg, #131322, #3AFDDA);
}

.bg-secondary-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#3AFDDA), to(#131322));
  background: linear-gradient(90deg, #3AFDDA, #131322);
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(98, 52, 130, 0.2) !important;
          box-shadow: 0 0.5rem 1.5rem rgba(98, 52, 130, 0.2) !important;
}

.bubble {
  background: url("../img/bubble2.png"), url("../img/bubble.png");
  background-position: left 200px, right bottom;
  background-size: 400px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  .bubble {
    background-size: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .bubble {
    background-size: 1000px;
  }
}

.fw-title-italic {
  font-weight: 700;
  font-style: italic;
}

.ft-title {
  font-size: 32px;
}
@media screen and (min-width: 992px) {
  .ft-title {
    font-size: 64px;
  }
}

.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: black;
}
.cd-loader__grid {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.cd-loader__item {
  width: 100%;
  height: 100%;
  background-size: contain;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video-overlay {
  position: absolute;
  padding-top: 50px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .video-overlay {
    padding-top: auto;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: 15%;
  }
}
.video-overlay--content-img {
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .video-overlay--content-img {
    max-width: 350px;
  }
}

.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 15px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -6px;
}
.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--emphatic .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--emphatic .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-6px, -7.5px, 0) rotate(-45deg) scale(0.7, 1);
          transform: translate3d(-6px, -7.5px, 0) rotate(-45deg) scale(0.7, 1);
  -webkit-transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-6px, 7.5px, 0) rotate(45deg) scale(0.7, 1);
          transform: translate3d(-6px, 7.5px, 0) rotate(45deg) scale(0.7, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
  position: absolute;
  width: 100%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 20;
}
.header.active {
  position: sticky;
  top: 0;
}
@media screen and (min-width: 992px) {
  .header.active {
    background: rgba(19, 19, 34, 0.2);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
            backdrop-filter: saturate(180%) blur(5px);
  }
}
.header.open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(19, 19, 34, 0.7);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
}
@media screen and (min-width: 992px) {
  .header.open {
    width: 100%;
    height: auto;
  }
}
.header.open .navbar-nav {
  padding-top: 40px;
}
@media screen and (min-width: 992px) {
  .header.open .navbar-nav {
    height: auto;
    padding-top: 0;
    left: 0;
  }
}
.header.open .navbar-item {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .header.open .navbar-item {
    margin-bottom: auto;
  }
}
.header.open .navbar-item--mobile {
  text-transform: uppercase;
  font-size: 3.55em;
}

.underline {
  border-bottom: 1px solid;
}

.mobile-menu-icon {
  background: url("../img/menu-icon-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 64px;
  height: 42px;
  position: relative;
}
.mobile-menu-icon .hamburger {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  background-position: top center;
  background-size: cover;
}

.parallelogram--outer-variant, .parallelogram--outer {
  padding: 2px;
  -webkit-clip-path: polygon(0% 20px, 15px 0%, 100% 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 15px) 100%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 20px, 15px 0%, 100% 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 15px) 100%, 0% 100%, 0% 100%);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  height: 100%;
}

.parallelogram--inner-variant, .parallelogram--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0% 20px, 15px 0%, 100% 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 15px) 100%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 20px, 15px 0%, 100% 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 15px) 100%, 0% 100%, 0% 100%);
  height: 100%;
}

.parallelogram {
  background: none;
  outline: none;
  border: none;
  color: white;
  position: relative;
  text-align: left;
  height: 100%;
}
.parallelogram--title {
  padding-left: 20px;
  position: relative;
}
.parallelogram--title::before {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #FD3A4C;
  position: absolute;
  left: 0;
  top: 2px;
}
.parallelogram:hover .parallelogram--outer {
  background-color: #fd3a4c;
}
.parallelogram:hover .parallelogram--inner {
  color: #FD3A4C;
  background-color: #532136;
}
.parallelogram:hover .parallelogram--outer-variant {
  background-color: #5865f2;
}
.parallelogram:hover .parallelogram--inner-variant {
  background-color: #5865F2;
  font-weight: 900;
}
.parallelogram--outer {
  background-color: #666594;
}
.parallelogram--inner {
  background-color: #131322;
  padding: 30px;
}
.parallelogram--outer-variant {
  background-color: #5865F2;
}
.parallelogram--inner-variant {
  background-color: #5865F2;
  padding: 30px;
}
.parallelogram--text-open {
  height: auto;
}
.parallelogram--text-close {
  overflow: hidden;
  height: 0;
}
.parallelogram--active .parallelogram--outer {
  background-color: #fd3a4c;
}

.octagon--outer-variant, .octagon--outer {
  padding: 2px 3px;
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.octagon--inner-variant, .octagon--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 120px;
  height: 38px;
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
}
@media screen and (min-width: 992px) {
  .octagon--inner-variant, .octagon--inner {
    height: 34px;
    min-width: 170px;
  }
}

.octagon {
  background: none;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}
.octagon:hover .octagon--outer {
  background-color: #fd3a4c;
}
.octagon:hover .octagon--inner {
  color: #FD3A4C;
  background-color: #532136;
}
.octagon:hover .octagon--outer-variant {
  background-color: #5865f2;
}
.octagon:hover .octagon--inner-variant {
  background-color: #404ff0;
}
.octagon--outer {
  background-color: #666594;
}
.octagon--inner {
  font-weight: 700;
  font-style: italic;
  background-color: #131322;
}
.octagon--outer-variant {
  background-color: #5865F2;
  min-width: 170px;
}
.octagon--inner-variant {
  background-color: #5865F2;
}

.parallel--text-area {
  background: black !important;
  border-radius: 0 !important;
  color: white !important;
}
.parallel--text-area::-webkit-input-placeholder {
  color: white !important;
}
.parallel--text-area::-moz-placeholder {
  color: white !important;
}
.parallel--text-area:-ms-input-placeholder {
  color: white !important;
}
.parallel--text-area::-ms-input-placeholder {
  color: white !important;
}
.parallel--text-area::placeholder {
  color: white !important;
}
.parallel--text-area:focus {
  border-color: white !important;
  outline: 0;
  -webkit-box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
          box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
}

.parallel--input {
  background: black !important;
  border-radius: 0 !important;
  color: white !important;
  height: 40px;
}
.parallel--input::-webkit-input-placeholder {
  color: white !important;
}
.parallel--input::-moz-placeholder {
  color: white !important;
}
.parallel--input:-ms-input-placeholder {
  color: white !important;
}
.parallel--input::-ms-input-placeholder {
  color: white !important;
}
.parallel--input::placeholder {
  color: white !important;
}
.parallel--input:focus {
  border-color: white !important;
  outline: 0;
  -webkit-box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
          box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
}
@media screen and (min-width: 992px) {
  .parallel--input {
    min-width: 300px;
  }
}

.parallel--label {
  position: relative;
}
.parallel--label::after, .parallel--label::before {
  display: block;
  position: absolute;
  top: 0;
}
.parallel--label::before {
  content: url("../img/box-left.svg");
  left: -15px;
  z-index: 1;
  height: 30px;
  width: 16.5px;
}
.parallel--label::after {
  content: url("../img/box-right.svg");
  right: -15px;
  z-index: 1;
  height: 30px;
  width: 16px;
}

.form-octagon--outer {
  padding: 1px 2px;
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
}

.form-octagon--inner {
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
}

.form-octagon--inner-variant {
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
}
@media screen and (min-width: 992px) {
  .form-octagon--inner-variant {
    height: 34px;
  }
}

.form-octagon--outer-variant {
  -webkit-clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
          clip-path: polygon(15px 0, calc(100% - 5px) 0, 100% 8px, calc(100% - 15px) 100%, 5px 100%, 0 75%);
}

.form-octagon {
  background: none;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .form-octagon {
    min-width: 300px;
  }
}
.form-octagon--outer {
  background-color: white;
  min-width: 100%;
}
.form-octagon--inner {
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  color: white;
}
.form-octagon--inner::-webkit-input-placeholder {
  color: white !important;
}
.form-octagon--inner::-moz-placeholder {
  color: white !important;
}
.form-octagon--inner:-ms-input-placeholder {
  color: white !important;
}
.form-octagon--inner::-ms-input-placeholder {
  color: white !important;
}
.form-octagon--inner::placeholder {
  color: white !important;
}
.form-octagon--outer-variant {
  background-color: white;
  min-width: 100%;
  padding: 1px 2px;
}
.form-octagon--inner-variant {
  background-color: black;
  color: white;
  padding-left: 25px;
}
.form-octagon--inner-variant::-webkit-input-placeholder {
  color: white !important;
}
.form-octagon--inner-variant::-moz-placeholder {
  color: white !important;
}
.form-octagon--inner-variant:-ms-input-placeholder {
  color: white !important;
}
.form-octagon--inner-variant::-ms-input-placeholder {
  color: white !important;
}
.form-octagon--inner-variant::placeholder {
  color: white !important;
}
.form-octagon--inner-variant:focus {
  background: black;
  color: white !important;
}

.fighter-card {
  width: 50%;
  margin-bottom: 56px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .fighter-card {
    max-width: 33%;
    margin-bottom: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .fighter-card {
    max-width: 25%;
    margin-bottom: 76px;
  }
}
.fighter-card .fondo {
  fill: url(#gradient);
}
.fighter-card .line {
  fill: none;
  stroke: white;
  stroke-width: 4;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.fighter-card .card-label {
  stroke: white;
  stroke-width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.fighter-card .card-on {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.fighter-card svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.fighter-card:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0 0 22px rgba(253, 58, 76, 0.8));
          filter: drop-shadow(0 0 22px rgba(253, 58, 76, 0.8));
}
.fighter-card:hover .fondo {
  -webkit-animation: filam 0.2s ease-in;
          animation: filam 0.2s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.fighter-card:hover .line {
  stroke: #FD3A4C;
}
.fighter-card:hover.variant svg {
  -webkit-filter: drop-shadow(0 0 22px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(0 0 22px rgba(255, 255, 255, 0.8));
}
.fighter-card:hover.variant .line {
  stroke: white;
}
.fighter-card:hover .card-on {
  opacity: 0;
}
.fighter-card:hover .card-label {
  stroke-width: 1.5;
}

.stop1 {
  stop-color: rgb(19, 124, 133);
}

.stop2 {
  stop-color: #FD3A4C;
}

@-webkit-keyframes filam {
  0% {
    fill: url(#gradient);
  }
  100% {
    fill: url(#gradient2);
  }
}

@keyframes filam {
  0% {
    fill: url(#gradient);
  }
  100% {
    fill: url(#gradient2);
  }
}
.videoModalBtn {
  display: block;
}
.videoModalBtn:hover {
  -webkit-box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
          box-shadow: 0 0 60px 0.25rem rgba(253, 58, 76, 0.8) !important;
}

.move-list--text {
  min-height: 150px;
}

.move-list--video {
  max-height: 362px;
  background-size: contain;
}

.move-list--icon-link {
  display: block;
  padding-bottom: 4px;
  position: relative;
}
.move-list--icon-link img {
  padding-bottom: 5px;
}
.move-list--icon-link::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: none;
  position: relative;
  left: 12px;
}
.move-list--icon-link:hover::after {
  content: "";
  background: #FD3A4C;
}

.logo--svg {
  fill: white;
}
.logo--svg:hover {
  fill: #FD3A4C;
}
/*# sourceMappingURL=main.css.map */